.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlays {
  position: absolute;
  z-index: 1;
}

.popup__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.header {
  top: 0;
  display: flex;
  padding: 15px 0 0px 60px;
  height: 13vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.navigation__today-btn {
  width: 100px;
  margin-right: 50px;
  font-size: large;
  font-weight: 700;
}

.create-event-btn {
  margin-right: 50px;
  padding-right: 30px;
  width: 150px;
  font-size: 700;
  font-weight: 700;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.5);
}

.create-event-btn__icon {
  margin-right: 14px;
}

.calendar__header {
  margin-top: 13vh;
  padding-left: 10vw;
  height: 14vh;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.calendar__day-label {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
.calendar__week-container {
  display: flex;
}
.calendar__body {
  margin-top: 26vh;
}
.calendar__week {
  display: flex;
  width: 100vw;
  padding-left: 10vw;
  position: relative;
}
.calendar__day {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  border-left: 2px solid #808080;
}
.calendar__day:first-child {
  border-left: none;
}
.calendar__time-slot {
  flex-grow: 1;
  height: 60px;
  border-bottom: 2px solid #808080;
}

.day-label__day-name {
  text-align: center;
  font-size: 24px;
  color: #808080;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.day-label__day-number {
  text-align: center;
  color: #0e0c0c;
  font-size: 36px;
}

.calendar__time-scale {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 205px;
  margin-left: 30px;
}

.time-slot {
  display: flex;
  flex-grow: 1;
  height: 60px;
  margin: 0;
}
.time-slot__time {
  margin: 0;
  text-align: right;
}

.create-event {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.create-event__close-btn {
  width: 30px;
  opacity: 0.5;
  cursor: pointer;
  margin-right: 0;
  margin-bottom: 10px;
  background-color: red;
}
.create-event__close-btn:hover {
  opacity: 1;
}

.event-form {
  display: flex;
  flex-direction: column;
}

.event-form__time {
  display: flex;
  flex-direction: column;
}

.event-form__field {
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid grey;
}

.event-time {
  margin: auto;
  margin-bottom: 10px;
}

.event-form__submit-btn {
  background-color: white;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}
.event-form__submit-btn:hover {
  opacity: 1;
}

.event {
  background-color: #6c97e6;
  color: #ffffff;
  text-align: center;
}
.event__title {
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 700;
}
.event__time {
  margin-bottom: 5px;
  font-size: 10px;
}
.event__description {
  font-size: 8px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=index.css.map */
